{% load static %}
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">

<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="Harindu Kodituwakku" content="Cloud-Computing">
    <title>Cloud Computing App 1</title>

    <!-- BEGIN: CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- END: CSS-->
</head>
<!-- END: Head-->

<body>
{% block content %}
    <div ng-app="main_app" ng-controller="controller">
        {#        <h2>Welcome to Forum page {{ user_id }}</h2>#}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Assignment 2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Admin Dashboard<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="logout()">Logout
                    </button>
                </form>
            </div>
        </nav>
        <div class="container-fluid" style="padding-top: 20px">
            <div class="row d-flex justify-content-center">
                <h2><b>Welcome Admin - {{ user_id }}</b></h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="card" style="width: 100%; margin-left: 20px; margin-right: 20px; margin-top: 25px">
                    <div class="card-body">
                        <h3><b>Admin Dashboard</b></h3>
                        <form style="padding-top: 40px">
                            <div class="row" style="padding-left: 15px">
                                <button type="submit" class="btn btn-success" ng-click="create_music_table()">Create
                                    Music Table
                                </button>
                                <button type="submit" class="btn btn-danger" ng-click="delete_music_table()"
                                        style="margin-left: 25px">Delete
                                    Music Table
                                </button>
                            </div>
                            <hr>
                            <div class="row" style="padding-left: 15px; margin-top: 25px">
                                <button type="submit" class="btn btn-success" ng-click="load_music_data()">Load
                                    Music Data
                                </button>
                                <button type="submit" class="btn btn-danger" ng-click="delete_music_data()"
                                        style="margin-left: 25px">Delete
                                    Music Data
                                </button>
                            </div>
                            <hr>
                            <div class="row" style="padding-left: 15px; margin-top: 25px">
                                <button type="submit" class="btn btn-success" ng-click="download_artist_images()">Download Artist Images
                                </button>
                                <button type="submit" class="btn btn-danger" ng-click="delete_artist_images()"
                                        style="margin-left: 25px">Delete
                                    Artist Images
                                </button>
                            </div>

                        </form>
                        <div class="alert alert-success" role="alert" ng-show="success_post"
                             style="margin-top: 10px">
                            Table created successfully!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{% static 'angular/angular.js' %}"></script>
<script src="{% static 'angular/angular-route.js' %}"></script>
<script src="{% static 'angular/angular-touch.js' %}"></script>
<script src="{% static 'main_angular.js' %}"></script>
</body>
</html>
