{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="Harindu Kodituwakku" content="Cloud-Computing">
    <title>Cloud Computing App 1</title>

    <!-- BEGIN: CSS-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap');
    </style>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'assets/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <!-- END: CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body>

{% block content %}

{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>

{#<!-- Page level plugins -->#}
{#<script src="vendor/chart.js/Chart.min.js"></script>#}
{##}
{#<!-- Page level custom scripts -->#}
{#<script src="js/demo/chart-area-demo.js"></script>#}
{#<script src="js/demo/chart-pie-demo.js"></script>#}

<script src="{% static 'angular/angular.js' %}"></script>
<script src="{% static 'angular/angular-route.js' %}"></script>
<script src="{% static 'angular/angular-touch.js' %}"></script>
<script src="{% static 'main_angular.js' %}"></script>

</body>
</html>
